
body {
  background-color: rgb(180, 208, 245); 

  font-size: 3em;
  font-weight: bold;
  color: #000080;
  text-align: left;
  
}
h3
{
    font-size: 10.0 em;
    font-weight: bold;
    color: white;
    text-align: center;
    
}
